::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #ffca28;
  color: #fff;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  --background-color: #fff;
  --text-color: #191919;
  --text-grey: #999;
  --text-grey-dark: #5a5a5a;
  --github-fill: #333;
}

html[data-theme="dark"] {
  --background-color: #27292D;
  --text-color: #fefefe;
  --text-grey-dark: #777;
  --github-fill: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Quicksand";
  font-size: 16px;
  margin: auto;
  max-width: 80%;
  padding-left: 24px;
  padding-right: 24px;
}

h2 {
  align-items: center;;
  display: flex;
  font-size: 30px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 0;
}

html[data-theme="dark"] img {
  filter: grayscale(20%);
}

section:not(:last-of-type) {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  body {
    max-width: 800px;
  }
  section:not(:last-of-type) {
    margin-bottom: 120px;
  }
  p {
    font-size: 1.5rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 8px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wave {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }
100% { transform: rotate(  0.0deg) }
}


@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  25% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  50% {
    box-shadow: 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  75% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 #ffca28, 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  100% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
}