*,*:before,*:after {
  box-sizing:inherit;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background-color: #ffca28;
  color:#fff
}

html {
  --background-color: #fff;
  --text-color: #191919;
  --text-grey: #999;
  --text-grey-dark: #5a5a5a;
  --github-fill: #333;
  --background-footer: #f0f7f7;
}

html[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #fefefe;
  --text-grey-dark: #777;
  --github-fill: #fff;
  --background-footer: #1e1e1e;
}
body {
  -webkit-text-size-adjust:100%;
  background-color: var(--background-color);
  box-sizing:border-box;
  color: var(--text-color);
  font-family:-apple-system,BlinkMacSystemFont,"Quicksand","Segoe UI", "Roboto","Open Sans";
  font-size:16px;
  font-variant-ligatures:common-ligatures;
  font-weight:400;
  line-height:1.75;
  margin:0;
  min-width:320px;
  overflow-x:hidden;
  scroll-behavior:smooth;
  text-rendering:optimizeLegibility;
}
#omergulcicek {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
[tabindex="-1"]:focus {
  outline:0 !important
}
img {
  border-style:none;
  max-width:100%;
  vertical-align:middle
}
a {
  background-color:transparent;
  color:#2196f3;
  cursor:pointer;
  text-decoration:none
}
a:not([href]):not([tabindex]):not(.button) {
  color:inherit;
  cursor:inherit;
  text-decoration:none
}
a:not([href]):not([tabindex]):not(.button):hover,a:not([href]):not([tabindex]):not(.button):focus {
  color:inherit;
  text-decoration:none
}
a:not([class]) {
  text-decoration-skip-ink:auto
}
a b,a strong,a code {
  color:inherit
}
p{
  font-size: 16px;
  margin-bottom:16px ;
  margin-top:0
}
p:empty,p:last-child {
  margin-bottom:0
}
@media (min-width: 1024px) {
  p {
    font-size: 24px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight:600;
  line-height:1;
  margin-bottom:8px;
  margin-top:0
}
h1 {
  font-size:40px
}
h2 {
  font-size:32px
}
h3 {
  font-size:28px
}
h4 {
  font-size:24px
}
h5 {
  font-size:20px
}
h6 {
  font-size:16px
}
html[data-theme="dark"] .aboutTurkuaz,
html[data-theme="dark"] .aboutTurkcedokuman,
html[data-theme="dark"] .aboutGithub,
html[data-theme="dark"] a[href^="mailto:"] {
  color: inherit;
}

html[data-theme="dark"] .aboutGithub {
  box-shadow: 0 10px 0 0 rgba(172, 172, 172, 0),inset 0 -.125em rgba(172, 172, 172,.2);
}

html[data-theme="dark"] .aboutGithub:hover {
  box-shadow: 0 1px 0 4px rgba(172, 172, 172,.1),inset 0 -1.375em 0 rgba(172, 172, 172,.1);
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
  25% {
    box-shadow: 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 #ffca28, 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28;
  }
  50% {
    box-shadow: 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28, 9991px -16px 0 0 #ffca28;
  }
  75% {
    box-shadow: 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 #ffca28, 10007px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px -16px 0 0 #ffca28;
  }
  100% {
    box-shadow: 9991px -16px 0 0 #ffca28, 9991px 0 0 0 #ffca28, 10007px 0 0 0 #ffca28;
  }
}
@keyframes wave {
  0% { transform: rotate(  0.0deg) }
  5% { transform: rotate(-10.0deg) }
 10% { transform: rotate( 12.0deg) }
 15% { transform: rotate(-10.0deg) }
 20% { transform: rotate(  9.0deg) }
 25% { transform: rotate(  0.0deg) }
}